{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    注册会员
{% endblock %}

{% block staticfiles %}
     <link rel="stylesheet" href="{% static '/myApp/css/regist.css' %}" type="text/css">
     <script type="text/javascript" src="{% static '/myApp/js/forgetpassword.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="all">

     <div class="all_field" id="regist" >

         <div class="header" id="header" align="left" >
             <h4><a href="{% url 'login' %}">&lt 返回</a></h4>
         </div>

         <h5>欢迎加入【由我】大家庭</h5>
         <h1>重置密码</h1>

         </br>
         <form action="/forgetpassword/" method="post" enctype="multipart/form-data">
             {% csrf_token %}

             {# 当聚焦时，验证码框的错误不再显示 #}

             <div class="input-group">
                 <span class="input-group-addon">手机</span>
                 <input id='account' type="text" class="form-control"
                        placeholder="请填写您真实的11位电话号码" aria-descirbedby="basic-addon1"
                        name="REuserPhone">
                <br/>
             </div>
                <span id="accounterr" class="error" style="color: red">账号必须是11位数字的电话号码</span>
                <span id="checkerr" class="error" style="color: red">该账户未注册，请重新输入</span>
                <br/>

             <div class="input-group">
                <span class="input-group-addon">设置新密码</span>
                <input id="pass" type="password" class="form-control"
                       aria-descirbedby="basic-addon1" placeholder="密码长度为6-16个字符"
                       name = 'REuserPass' style="width: 240px">
                <br/>
             </div>
             <span id="passerr" class="error" style="color: red">密码必须是6~16位字符</span>
             <br/>

             <div class="input-group" >
                <span class="input-group-addon">确认新密码</span>
                <input id="passwd" type="password" class="form-control"
                       aria-descirbedby="basic-addon1" placeholder="再次填写密码"
                       name = 'confirmPass' style="width: 240px">
                <br/>
            </div>
            <span id="passwderr" class="error" style="color: red">两次密码输入不同</span>
             <br/>

        <div class="submitbutton">
            <input type="submit" value="重置密码">
        </div>
        </form>
     </div>
</div>
{% endblock %}